@import "@app-style-var";
.movie-container {
  display: flex;
  align-items: flex-start;
  margin: 20px;
  font-family: Arial, sans-serif;
}

.movie-poster img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-content {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 100%;
}

.movie-details {
  text-align: left;
}

.movie-details h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.trailer a {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #ff5722;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.trailer a:hover {
  background-color: #e64a19;
}

.cinemas {
  margin-top: 20px;
}

.cinema {
  margin-bottom: 20px;
}

.cinema h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.sessions-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  transition: 0.2s all;
  cursor: pointer;

  &:hover{
    background-color: rgba(0,0,0,0);
  }
}

.session {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.session-time,
.session-lang,
.session-price,
.session-format {
  margin-bottom: 5px;
}

.session-time {
  font-weight: bold;
}
