<h1 class="home-header">movie</h1>
@if (movie) {
  <div class="main-container">
    <h1 class="title-header">{{ movie.name }}</h1>
    <img [src]="movie.poster">
    <iframe
      width="560"
      height="315"
      [src]="getEmbedLink(movie.trailer)"
      frameborder="0"
      allowfullscreen
    ></iframe>
    <div class="tables">
      @for (item of movie.cinemas; track item) {
        <h3 class="title2-header">{{ item.name.eng }}</h3>
        <table>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Language</th>
            <th>Price</th>
            <th>Reserve</th>
          </tr>
          @for (item2 of item.sessions; track item2) {
            <tr>
              <td>{{ item2.id.split('/')[1] | date}}</td>
              <td>{{ item2.id.split('/')[2] }}</td>
              <td>{{ item2.lang }}</td>
              <td>{{ item2.prices[0] }}ლ / {{ item2.prices[1] }}ლ</td>
              <td>
                <button (click)="OnReserveClick(item2,movie.name)">Reserve</button>
              </td>
            </tr>
          }
        </table>
      }
    </div>
  </div>
}
